@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --safe-area-top: env(safe-area-inset-top);
  --safe-area-bottom: env(safe-area-inset-bottom);
  --safe-area-left: env(safe-area-inset-left);
  --safe-area-right: env(safe-area-inset-right);
}

html,
body {
  height: 100%;
  overscroll-behavior: none;
  -webkit-tap-highlight-color: transparent;
}

@media (hover: none) {
  /* 모바일에서는 hover 잔상이 남는 경우가 있어 제거 */
  *:hover {
    background-color: inherit;
    color: inherit;
  }
}

button,
a {
  -webkit-touch-callout: none;
  user-select: none;
}

@layer utilities {
  .pt-safe-t {
    padding-top: var(--safe-area-top);
  }
  .pb-safe-b {
    padding-bottom: var(--safe-area-bottom);
  }
  .pl-safe-l {
    padding-left: var(--safe-area-left);
  }
  .pr-safe-r {
    padding-right: var(--safe-area-right);
  }
}
